<div class="row centered">
	<div class="span11">
		{{froala-editor params=froalaEditor.params  value='value'  image_beforeUpload=(action "image_beforeUpload") image_uploaded=(action "image_uploaded") contentChanged=(action "contentChanged")}}
	</div>
</div>