<div class="wrapper">
    <div class="row centered"><br/>
    	<div class="span8">
		    <div class="white-bg">
		        {{cbutton-editor model=model}}
		    </div>
		    <div class="white-bg">
		    </div>
	    </div>
    </div>
</div>

